Flask==0.8
Jinja2==2.6
PIL==1.1.7
PyYAML==3.10
Werkzeug==0.8.1
boto==2.1.1
-e git://github.com/fredj/flask-jsonify.git#egg=flask_jsonify
-e git://github.com/ednapiranha/httplib2.git#egg=httplib2
simplejson==2.3.0
urllib3==1.0.2
